{#include main.html}

{#title}Resource Owners{/title}

{#pageH2}Resource Owners{/pageH2}

{#pageH3}In this area, client applications users can sign up and manage their information.{/pageH3}

{#pageContent}
  <br>
  <div class="grid">
    {#if inject:user}
      <a role="button" class="contrast" href="{uri:Owners.dashboard}">Dashboard</a>
      <a role="button" class="contrast" href="{uri:Owners.logoutForm}">Logout</a>
    {/if}
    {#if !inject:user}
      <a role="button" class="contrast" href="{uri:Owners.registerForm}">Register</a>
      <a role="button" class="contrast" href="{uri:Owners.loginForm}">Login</a>
    {/if}
  </div>
{/pageContent}

{#if flash:success}
  <article style="background-color: #398712; color: #FFFFFF;">
    {flash:success}
  </article>
{/if}

{/include}
