{#include main.html}
{#title}Owner Register{/title}

{#pageH2}Register{/pageH2}

{#form uri:Owners.register()}
  <fieldset class="grid">
    <input
      type="text"
      name="username"
      placeholder="Username"
      autocomplete="username"
    />
    {#ifError "username"}
    <p>
      <span>Ooops! </span>
      <span>{#error "username"/}</span>
    </p>
    {/ifError}
    <input
      type="email"
      name="email"
      placeholder="Email"
      autocomplete="email"
    />
    {#ifError "email"}
    <p>
      <span>Ooops! </span>
      <span>{#error "email"/}</span>
    </p>
    {/ifError}
  </fieldset>

  <fieldset class="grid">
    <input
      type="text"
      name="givenName"
      placeholder="Name"
      autocomplete="given-name"
    />
    {#ifError "givenName"}
    <p>
      <span>Ooops! </span>
      <span>{#error "givenName"/}</span>
    </p>
    {/ifError}
    <input
      type="text"
      name="familyName"
      placeholder="Lastname"
      autocomplete="family-name"
    />
    {#ifError "familyName"}
    <p>
      <span>Ooops! </span>
      <span>{#error "familyName"/}</span>
    </p>
    {/ifError}
  </fieldset>

  <fieldset class="grid">
    <div>
      <input
        aria-describedby="phone"
        type="tel"
        name="phone"
        placeholder="Phone"
        autocomplete="tel-national"
      />
      <small id="phone">
        Eleven digits. Only numbers.
      </small>
    </div>
    {#ifError "phone"}
    <p>
      <span>Ooops! </span>
      <span>{#error "phone"/}</span>
    </p>
    {/ifError}
    <div>
      <input
        aria-describedby="birthdate"
        type="date"
        name="birthdate"
        placeholder="Birthdate"
        autocomplete="bday"
      />
      <small id="birthdate">
        Your birthdate.
      </small>
    </div>
    {#ifError "birthdate"}
    <p>
      <span>Ooops! </span>
      <span>{#error "birthdate"/}</span>
    </p>
    {/ifError}
  </fieldset>

  <fieldset class="grid">
    <input
      type="password"
      name="password"
      placeholder="Password"
      aria-label="Password"
      autocomplete="current-password"
    />
    <input
      type="password"
      name="passwordConfirm"
      placeholder="Confirm Password"
      aria-label="Confirm Password"
      autocomplete="current-password"
    />
    {#ifError "password"}
    <p>
      <span>Ooops! </span>
      <span>{#error "password"/}</span>
    </p>
    {/ifError}
  </fieldset>

  <hr>

  <h3>Optional information:</h3>
  <fieldset>
    <input
      type="url"
      name="website"
      placeholder="Website"
      autocomplete="url"
    />
    <label>
      Write a secret text...
      <textarea
        name="secretText"
        aria-label="Secret text"
      >
      </textarea>
    </label>
  </fieldset>

  <fieldset>
    <legend>Languages:</legend>

    <label>
      <input type="checkbox" name="languages" value="english" />
      English
    </label>
    <label>
      <input type="checkbox" name="languages" value="french" />
      French
    </label>
    <label>
      <input type="checkbox" name="languages" value="portuguese" />
      Portuguese
    </label>
    <label>
      <input type="checkbox" name="languages" value="spanish" />
      Spanish
    </label>
    <label>
      <input type="checkbox" name="languages" value="mandarin" />
      Mandarin
    </label>
  </fieldset>

  <input type="submit" value="Register"/>
{/form }

{/include}
