{#include main.html}
{#title}Owner Register{/title}

{#pageH2}Register{/pageH2}

{#form uri:Owners.register()}
  <fieldset class="grid">
    {#formElement
      type="text"
      name="username"
      placeholder="Username"
      autocomplete="username"
    /}
    {#formElement
      type="email"
      name="email"
      placeholder="Email"
      autocomplete="email"
    /}
  </fieldset>

  <fieldset class="grid">
    {#formElement
      type="text"
      name="givenName"
      placeholder="Name"
      autocomplete="given-name"
    /}
    {#formElement
      type="text"
      name="familyName"
      placeholder="Lastname"
      autocomplete="family-name"
    /}
  </fieldset>

  <fieldset class="grid">
    {#formElement
      type="tel"
      name="phone"
      placeholder="Phone"
      autocomplete="tel-national"
    /}
    {#formElement
      type="date"
      name="birthdate"
      placeholder="Birthdate"
      autocomplete="bday"
    /}
  </fieldset>

  <fieldset class="grid">
    {#formElement
      type="password"
      name="password"
      placeholder="Password"
      autocomplete="current-password"
    /}
    {#formElement
      type="password"
      name="passwordConfirm"
      placeholder="Confirm Password"
      autocomplete="current-password"
    /}
  </fieldset>

  <hr>

  <h3>Optional information:</h3>
  <fieldset>
    {#formElement
      type="url"
      name="website"
      placeholder="Website"
      autocomplete="url"
    /}
    <label>
      Write a secret text...
      <textarea
        name="secretText"
        aria-label="Secret text"
      >
      </textarea>
    </label>
  </fieldset>

  <fieldset>
    <legend>Languages:</legend>

    <label>
      <input type="checkbox" name="languages" value="english" />
      English
    </label>
    <label>
      <input type="checkbox" name="languages" value="french" />
      French
    </label>
    <label>
      <input type="checkbox" name="languages" value="portuguese" />
      Portuguese
    </label>
    <label>
      <input type="checkbox" name="languages" value="spanish" />
      Spanish
    </label>
    <label>
      <input type="checkbox" name="languages" value="mandarin" />
      Mandarin
    </label>
  </fieldset>

  <input class="contrast" type="submit" value="Register"/>
{/form }

{/include}
