<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <!-- All files in the 'src/main/resources/web/static/' directory are served under the '/static/' prefix-->
    <link rel="icon" type="image/svg+xml" href="/static/logo.svg"/>
    <!-- You can pass parameters from your templates to your main template and insert them -->
    <title>{#insert title/}</title>
    {#bundle /}
  </head>
  <body>
    <header class="container">
      <nav>
        <ul>
          <li><a href="{uri:Home.home}"><h1>QK Oauth2 Server</h1></a></li>
        </ul>
        <ul>
          <li><a role="button" href="{uri:Owners.owners}">API Clients</a></li>
          <li><a role="button" href="{uri:Owners.owners}">Resource Owners</a></li>
        </ul>
      </nav>
    </header>

    <main class="container">
      <hgroup>
        <h2>{#insert pageH2/}</h2>
        <hr>
        <h3>{#insert pageH3/}</h3>
        {#insert pageContent/}
      </hgroup>

      {#insert /}
    </main>
  </body>
</html>
