{#include main.html}

{#title}Home{/title}

{#pageH2}Minimal OAuth2 Identity Provider{/pageH2}

{#pageH3}A lightweight and functional authorization server built with simplicity in mind.{/pageH3}

{#pageContent}
  <br>
  <p>
    Following the OAuth 2.0 protocol, it allows the registration of users (resource owners) and API clients, enabling access authorization to private resources via OAuth 2.0 and secure authentication through OpenID Connect. 
    Designed for small-scale applications that need single sign-on (SSO) and protected API access.
  </p>
{/pageContent}

{/include}
